#panel-component {
    position: relative;
    display: grid;
    grid-template-rows: 60px 1fr;
    background: $bg-2;
    box-shadow: $shadow-1 2px 2px 4px;
    border-radius: $panel-border-radius;
    margin: 10px;
    overflow: hidden;

    .widget-hover-spots {
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        display: flex;
        opacity: 0.5;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        border-radius: $panel-border-radius;
        z-index: 2;
        overflow: hidden;

        div {
            flex: auto;
        }

        .left-hover.active {
            background-image: linear-gradient(-90deg, transparent, $icon-1);
        }

        .right-hover.active {
            background-image: linear-gradient(90deg, transparent, $icon-1);
        }
    }

    .widget-header {
        display: grid;
        grid-template-columns: 1fr 60px;
        background-color: $bg-1;
        box-shadow: $shadow-1 0px 2px 4px;
        border-radius: $panel-border-radius $panel-border-radius 0px 0px;
        z-index: 1;

        .widget-header-title {
            position: relative;
            display: grid;
            grid-template-columns: 60px 1fr;

            .widget-icon {
                position: relative;
                display: grid;

                svg {
                    width: 32px;
                    height: 32px;
                    margin: auto;
                    fill: $bg-3;
                }

                img {
                    width: 32px;
                    height: 32px;
                    margin: auto;
                    object-fit: contain;
                }
            }

            .widget-title {
                font-size: 24px;
                line-height: 60px;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;
            }

            .title-drag-mask {
                position: absolute;
                left: 0px;
                right: 0px;
                top: 0px;
                bottom: 0px;
                cursor: move;
            }
        }

        .widget-header-tools {
            display: flex;

            svg {
                margin: auto 12px;
                fill: $icon-1;
                cursor: pointer;
    
                &:hover {
                    fill: $icon-2
                }
            }
        }

        .show-tools-icon {
            margin: auto;
            width: 36px;
            height: 36px;
            fill: $bg-3;
            cursor: pointer;

            &:hover {
                fill: $icon-1;
            }
        }

        .show-tools-icon.active {
            fill: $icon-1;
        }
    }

    .loading-icon {
        position: absolute;
        display: grid;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
    }

    #widget-error {
        text-align: center;
        margin: auto;

        .bold {
            font-weight: bold;
        }
        
        .error {
            color: $error;
        }
    }
}

#panel-component.dragging {
    position: fixed;
    z-index: 10;
    pointer-events: none;
    @include no-select;
}

#panel-component.pseudo {
    background-color: transparent;
    border: dashed 2px $icon-1;
    box-sizing: border-box;
}

#panel-component.pseudo.active {
    background-color: $icon-1;
}

#panel-component.small {
    flex: 0;
    flex-basis: 300px;
    min-width: 300px;
    max-width: 300px;
    height: 420px;
}

#panel-component.medium {
    flex: 0;
    flex-basis: 620px;
    min-width: 300px;
    max-width: 620px;
    height: 420px;
}

#panel-component.large {
    flex: 0;
    flex-basis: 940px;
    min-width: 300px;
    max-width: 940px;
    height: 420px;
}
