.select-dashboard-modal-component {
    grid-template-rows: 60px 1fr max-content;

    #content {
        padding: 12px;
        overflow-y: auto;

        .dashboard-list-item {
            width: 100%;
            height: 60px;
            margin: 10px 0px;
            border-radius: 6px;
            background-color: $bg-3;
            display: grid;
            grid-template-columns: 1fr max-content;
            cursor: pointer;

            .dashboard-title {
                line-height: 60px;
                margin: 0px 10px;
                overflow: hidden;
            }

            .dashboard-icons {
                display: flex;

                svg {
                    fill: $icon-1;
                    margin: auto 10px;
                    cursor: pointer;

                    &:hover {
                        fill: $icon-2;
                    }
                }
            }
        }

        .selected {
            background-color: $bg-1;
        }
    }

    #new-dashboard-buttons {
        display: flex;
        flex-wrap: wrap;
    
        .new-dashboard-button {
            position: relative;
            flex: 1 1 0px;
            height: 60px;
            margin: 10px 10px;
            border-radius: 6px;
            background-color: $bg-3;
            display: flex;
            cursor: pointer;
            justify-content: center;
            align-items: center;

            div {
                font-size: 20px;
            }
    
            svg {
                fill: $icon-1;
                margin: auto 4px;
            }
    
            &:hover {
                background-color: $bg-3;
            }
    
            &:hover svg {
                fill: $icon-2;
            }
        }
    }
}
