@import 'styles/_main.scss';

#app-component {
    position: relative;
    display: grid;
    grid-template-rows: min-content 1fr;
    color: $txt-1;
    background-color: $bg-3;
    min-height: 100vh;

    #app-loading {
        position: absolute;
        display: grid;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        color: $txt-1;
    }

    #header {
        display: grid;
        background-color: $bg-1;
        box-shadow: $shadow-1 0px 2px 4px;
        z-index: 1;

        #header-container {
            display: flex;
            justify-content: left;
            align-items: center;
            width: 100%;

            #header-icon {
                margin: 0px 12px;
                height: 60px;
            }

            @media only screen and (max-width: 480px) {
                #header-icon {
                    display: none;
                }
            }
        }
    }

    #page-content {
        position: relative;
    }
}
